//TEST 
//div.anything{
// 	font-family: ass;
// 	h1{
// 		color: clown;
// 	}
// }

body { padding-top: 50px; }
body.konami {
	background-image:url("http://img2.wikia.nocookie.net/__cb20130816020237/thefakegees/images/archive/f/f5/20140324000328!566px-Dancing_Banana.gif");
}

#front-page-card-2 {
	color:#C02;
}

footer {
	padding-bottom: 20px;
}

.sign-in-element {
	margin: 5px 0;
}